// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;

// Small tablets (portrait view)
$screen-md-min: 600px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
$screen-xl-min: 1170px;

//Border
$border: 1px solid #c9ced2;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin flexContainer($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin lg-shadow($yposition) {
  box-shadow: 0 $yposition 4px #0000004d;
}

@mixin button($color, $border-color) {
  color: $color;
  font-size: 1.25rem;
  width: 100%;
  padding: 12px;
  margin: 6px 0 24px;
  border: solid 2px $border-color;
  border-radius: 4px;
  background-color: transparent;
}

// Base Styles
h4 {
  font-weight: 500;
  margin: 0;
}

button {
  border: 0;
  background-color: #fff;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: #0a5783;
}

p {
  color: #011728;
  margin: 0;
}

// Navbar
.header {
  padding: 12px 24px;
  border-bottom: solid 2px #c9ced2;
  background-color: #fff;

  nav {
    @include flexContainer(row, space-between, center);
    max-width: 1170px;
    margin: 0 auto;

    .logo {
      width: 5rem;
      vertical-align: middle;
      @include lg {
        width: 7rem;
      }
    }
  }
}
.header-support {
  @include flexContainer(row, space-evenly, center);

  button:first-child {
    padding-right: 1rem;
    border-right: solid 1px #c9ced2;
  }
  button:last-child {
    padding-left: 1rem;
  }
  button {
    @include flexContainer(row, space-evenly, center);
    * {
      margin: 0.125rem;
    }
  }
  span {
    font-size: 1rem;
  }

  .chat-icon {
    @include lg {
      width: 1.5rem;
    }
  }
  .profile {
    img {
      width: 2rem;
      @include lg {
        width: 2.5rem;
      }
    }
    .arrow {
      width: 1rem;
    }
  }
  .supp-text {
    display: none;

    @include lg {
      display: block;
    }
  }
}

//Banner
.banner {
  @include flexContainer(row, space-evenly, center);
  height: 150px;
  background-color: rgb(231, 228, 231);
  box-shadow: inset 0px -2px 6px #0003;
  @include md {
    height: 185px;
    font-size: 1.5rem;
    background-color: #dbe7d9;
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    @include md {
      font-size: 1.5rem;
    }
  }
}

//Tiles
.tile-layout {
  @include flexContainer(column, space-evenly, center);
  padding: 18px 24px;

  //Account
  .account-tile {
    @include flexContainer(column, space-evenly, flex-start);
    @include lg-shadow(0);
    height: auto;
    background-image: url("./images/brand-blue.jpg");
    color: #fff;
    padding: 24px 24px 6px 24px;
    border-radius: 4px 4px 0 0;
    > div {
      @include flexContainer(column, space-evenly, flex-start);
      width: 100%;
      > div {
        @include flexContainer(column, space-evenly, flex-start);
      }
    }
    .account-main {
      > span:first-child {
        font-size: 1.5rem;
        font-weight: 300;

        span {
          font-size: 0.75rem;
          font-weight: 400;
        }
      }
      > div {
        font-size: 3.25rem;
        font-weight: 300;
        margin: 12px 0 6px;
        line-height: 1.5rem;
        span {
          font-size: 1.5rem;
          vertical-align: super;
        }
      }
      > span:last-child {
        font-size: 0.75rem;
        margin: 12px 0 6px;
      }
    }
    .account-button {
      @include button(#fff, #fff);
    }
    .account-balance {
      font-size: 0.75rem;
      font-weight: 300;
      padding: 6px 0;
      border-top: dotted 1px rgba(207, 204, 207, 0.3);
      span {
        padding-top: 6px;
      }
    }
  }
  .account-skip {
    @include lg-shadow(4px);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 12px 24px;
    margin-bottom: 12px;
    border-radius: 0 0 4px 4px;
    background-color: #00000009;

    a {
      text-decoration: underline;
    }
  }

  //Explore
  .explore-tile {
    @include lg-shadow(4px);
    background-color: #e9e9e9;
    padding: 24px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 12px;
    span,
    button {
      font-weight: 500;
    }
    span {
      display: block;
      font-size: 1.25rem;
      padding-bottom: 18px;
      color: #011728;
    }
    p {
      line-height: 1.5rem;
    }

    .explore-button {
      @include button(#000, #000);
      font-size: 1rem;
      border-width: 1px;
      margin: 0;
      margin-top: 12px;
    }
  }

  //Transactions
  .transact-tile {
    @include lg-shadow(1px);
    width: 100%;
    background-color: #fff;
    border: $border;
    margin-bottom: 18px;
    div {
      padding: 12px;
    }
    div:first-child {
      @include flexContainer(row, space-between, center);
      height: 62px;
      border-bottom: $border;
      padding: 6px 12px;
      font-size: 1.125rem;
    }
    p {
      font-size: 1.25rem;
      color: #687680;
    }
    span {
      flex: 2;
    }

    .transact-button {
      @include button(#0d74af, transparent);
      height: 62px;
      font-weight: 500;
      padding: 0;
      margin: 0;
      width: auto;
    }
  }

  //Credit Score
  .credit-tile {
    @include lg-shadow(1px);
    width: 100%;
    background-color: #fff;
    border: $border;
    margin-bottom: 12px;
    > div:first-child {
      padding: 12px;
    }
    img {
      width: 4rem;
    }
    p {
      font-weight: 500;
      margin-bottom: 9px;
    }
    span {
      color: #0d74af;
      font-weight: 400;
    }
    .credit-main {
      @include flexContainer(row, center, center);
      height: 197px;
      > div:last-child {
        margin: 0 12px;
      }
    }
  }

  //Khan Tile
  .khan-tile {
    @include lg-shadow(1px);
    width: 100%;
    background-color: #fff;
    border: $border;
    margin-bottom: 12px;
    > div:first-child {
      padding: 12px 12px 0 12px;
    }
    img {
      margin-left: 9px;
      width: 5rem;
    }
    p {
      margin: 0 0 9px 12px;
      margin-bottom: 9px;
    }
    span {
      color: #0d74af;
      font-weight: 400;
    }
    .khan-main {
      @include flexContainer(row, center, center);
      height: 130px;
      margin-top: 12px;
    }
    .khan-buttons {
      @include flexContainer(row, space-evenly, center);
      button {
        @include button(#0d74af, transparent);
        height: 48px;
        font-size: 1rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
        width: 100%;
        border: $border;
        border-right: 0;
        border-radius: 0;
      }
      button:first-child {
        border-left: 0;
      }
    }
  }

  //Shop Tile
  .shop-tile {
    @include lg-shadow(1px);
    width: 100%;
    background-color: #fff;
    border: $border;
    margin-bottom: 12px;
    > div:first-child {
      padding: 12px 12px 0 12px;
    }
    img {
      width: 4.5rem;
    }
    span {
      color: #0d74af;
      font-size: 0.625rem;
      font-weight: 400;
    }
    span:not(:last-child) {
      color: #011728;
    }
    .shop-main {
      @include flexContainer(row, center, space-evenly);
      height: 130px;
      margin-top: 18px;
      column-gap: 10px;
      > div {
        @include flexContainer(column, space-between, center);
        border: $border;

        span:not(:last-child) {
          padding: 0 15px;
        }
        span {
          text-align: center;
          padding-bottom: 12px;
        }
      }
      > div div {
        @include flexContainer(column, center, center);
        height: 60px;
      }
    }
    .shop-button {
      button {
        @include button(#0d74af, transparent);
        height: 48px;
        font-size: 1rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
        margin-top: 6px;
        width: 100%;
        border: $border;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
      }
    }
  }

  //Map Tile
  .map-tile {
    @include lg-shadow(1px);
    width: 100%;
    background-color: #fff;
    border: $border;
    margin-bottom: 12px;
    h4 {
      padding: 12px 12px 0 12px;
      margin-bottom: 12px;
    }
    img {
      width: calc(100% + 24px);
      height: 100%;
      background-position: center;
    }

    .map-main {
      @include flexContainer(row, center, center);
      height: 197px;
      width: 100%;
      overflow: hidden;
    }
  }
}
